__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env

.git
.gitignore
.DS_Store
.vscode/
.idea/
*.swp
*.swo

*.ipynb
Combined_Lung_Cancer_Dataset
data
datasets

build/
dist/
*.egg-info/

logs/
*.log

.tmp/
.cache/
*.tar
*.tar.gz
